<!-- Start Navbar -->
  <header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4 ">
    <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger  pr2  ">☰
    </div>
    {% if site.logo %}
    <a class="my0 mx-auto" href="{{site.baseurl}}"><amp-img src="{{site.baseurl}}{{site.logo}}" width="110" height="33" layout="fixed" class="my0 mx-auto" alt="Logo"></amp-img></a>
    {% endif %}
  </header>


<!-- Start Sidebar -->
<amp-sidebar id="header-sidebar" class="ampstart-sidebar px3" layout="nodisplay">
  <div class="flex justify-start items-center ampstart-sidebar-header">
    <div role="button" aria-label="close sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start">✕</div>
  </div>
  <nav class="ampstart-sidebar-nav ampstart-nav">
    <ul class="list-reset m0 p0 ampstart-label">
        {% for entry in site.data.navigation %}
            {% if entry.url == current_page %}
                {% assign current = 'current' %}
            {% else %}
                {% assign current = null %}
            {% endif %}
      <li class="ampstart-nav-item ampstart-nav-dropdown relative {{ current }}">
          <li class="ampstart-faq-item"><a href="{{ site.url }}{{ site.baseurl }}{{ entry.url }}" class="text-decoration-none">{{ entry.title }}</a></li>
      </li>
      {% endfor %}
    </ul>
  </nav>

    Follow us at:
  <ul class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4">
    {% if site.facebook %}
        <li>
            <a href="https://www.facebook.com/NimaNoury.music/" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML Facebook">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23.6" viewbox="0 0 56 55">
                    <title>Facebook</title>
                    <path d="M47.5 43c0 1.2-.9 2.1-2.1 2.1h-10V30h5.1l.8-5.9h-5.9v-3.7c0-1.7.5-2.9 3-2.9h3.1v-5.3c-.6 0-2.4-.2-4.6-.2-4.5 0-7.5 2.7-7.5 7.8v4.3h-5.1V30h5.1v15.1H10.7c-1.2 0-2.2-.9-2.2-2.1V8.3c0-1.2 1-2.2 2.2-2.2h34.7c1.2 0 2.1 1 2.1 2.2V43" class="ampstart-icon ampstart-icon-fb"></path>
                </svg>
            </a>
        </li>
        {% endif %}  {% if site.instagram %}
        <li>
            <a href="https://www.instagram.com/NimaNoury.music/" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML Instagram">
                <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
		<title>Instagram</title>
		<path d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" class="ampstart-icon ampstart-icon-instagram" />
    	        
		</svg>
            </a>
        </li>
        {% endif %} {% if site.youtube %}
        <li>
            <a href="https://www.youtube.com/channel/UCHQa8j5-yX8UOH8d8kDE-5g/featured/{{site.youtube}}" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML Youtube">
                <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
		<title>Youtube</title>
		<path d="M10,16.5V7.5L16,12M20,4.4C19.4,4.2 15.7,4 12,4C8.3,4 4.6,4.19 4,4.38C2.44,4.9 2,8.4 2,12C2,15.59 2.44,19.1 4,19.61C4.6,19.81 8.3,20 12,20C15.7,20 19.4,19.81 20,19.61C21.56,19.1 22,15.59 22,12C22,8.4 21.56,4.91 20,4.4Z" class="ampstart-icon ampstart-icon-youtube" />
	        
		</svg>
            </a>
        </li>
        {% endif %} {% if site.telegram %}
        <li>
            <a href="https://t.me/alhantunes/{{site.telegram}}" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML Telegram">
                <svg fill="#000000" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
		<title>Telegram</title>
		<path d="M23.91 3.79L20.3 20.84c-.25 1.21-.98 1.5-2 .94l-5.5-4.07-2.66 2.57c-.3.3-.55.56-1.1.56-.72 0-.6-.27-.84-.95L6.3 13.7l-5.45-1.7c-1.18-.35-1.19-1.16.26-1.75l21.26-8.2c.97-.43 1.9.24 1.53 1.73z" class="ampstart-icon ampstart-icon-telegram"></path>
		</svg>
            </a>
        </li>
        {% endif %}
  </ul>

  <ul class="ampstart-sidebar-faq list-reset m0">
  {% if site.contact %}
    <li class="ampstart-faq-item"><a href="{{ site.baseurl }}{{ site.contact }}" class="text-decoration-none">Contact</a></li>
  {% endif %}
  {% if site.privacy-policy %}
    <li class="ampstart-faq-item"><a href="{{ site.baseurl }}{{ site.privacy-policy }}" class="text-decoration-none">Privacy Policy</a></li>
  {% endif %}
  </ul>
</amp-sidebar>
